<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactlibrary">
    <!-- <uses-permission android:name="android.permission.READ_CALL_LOG" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALL_LOG" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
